/* 1485px */
@media (max-width: 93rem) {

    .form-input{
    width: 76vh;
    height: 10vh;
}

.prac-areas{
    height: 15vh;
}
.grad-vec-area{
    margin: auto;
}

.img-cont{
    margin: 0 auto;
    justify-content: center;
}

.about-footer-box{
    padding-top: 9px;
}

    .input-container{
        margin: 0px;
    }
    .input-box-quest-cont{
        padding: 0px;
    }

    .quest-txt-1{
        font-size: 2rem;
    }

    .Question-text{
        font-size: 1.3rem;
    }
    .into-text{
        font-size: 1.1rem;
    }

    .text-box{
        padding: 0px;
        font-size: 1.1rem;
    }
    
    body{
        padding: 0px;
    }


.grid-law-cont{
    display: grid;
    margin: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
        grid-template-rows: 1.5fr 2fr;
    grid-auto-rows: minmax(250px, auto);
}

.dui-cont > .full-text{
    font-size: 1rem;
    text-align: center;
}
    
}
/* 1200px */

@media (max-width: 75rem){

    .Question-text{
        font-size: 1.2rem;
    }
    
    .text-box{
        font-size: 0.9rem;
    }

    .text-container{
        padding: 1rem 2rem;
    }
      
    .grid-law-cont{
    padding-top: 1rem;
    justify-items: center;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 0fr;
    grid-template-rows: 0.7fr 0fr 0fr;
        grid-template-areas: "left-item left-item" "mid mid-bottom" "right-item right-item";
}

.text-box-left{
    font-size: 0.9rem;
}

 .img-cont-box{
        padding: 0;
    }

    .header-contact{
        margin: 0px;
    }

    .graphic-btn, .graphic-btn-right, .graphic-btn-left{
        float: none;
        margin: 0px;
    }

    .text-container-2{
        text-align: center;
        padding: 0 2rem;
    }

    .vec-shadow{
        display: none;
    }
}

/* 992px */

@media (max-width: 64rem) {

    .law-cont-blog-col3{
        height: 100vh;
    }

    .gurrantee-png{
        margin-bottom: 1.5rem;
    }
    

.grid-law-cont{
    margin-right: 5%;
    margin-left:  5%;
    display: grid;  
    grid-template-columns: 10fr 0fr 0fr;
    grid-template-rows: auto auto auto;
    grid-auto-rows: minmax(250px, auto);
    grid-template-areas: "left-item left-item left-item" "mid mid mid" "mid-bottom mid-bottom mid-bottom" "right-item right-item right-item";
}

    .img-cont-box{
        padding: 0;
        margin-right: 3rem;
        margin-bottom: 1rem;
    }

   .Question-text{
    margin: 0px;
   }

   .text-box{
    font-size: 1rem;
   }

.header-contact{
    font-size: 0.7rem;
}

   #navbar{
        position: fixed;
background: #750b0b;
background: linear-gradient(0deg, rgb(128, 8, 8) 8%, rgb(106, 1, 1) 95%);        
right: -100%;
        z-index: 10;
        transition: right 0.5s ease-in-out;
    }

    #navbar.show{
        right: 0;
    }

    .img-block{
    flex-direction: column;
    align-items: center;
}

.gurrantee-png{
    width: 67%;
}
.confidential{
    width: 20vw;
}

    #navbar ul{
        display: flex;
        flex-direction: column;
    }
    #open-sidebar-btn, #close-sidebar-button{
        display: block;
    }

    .text-box-left{
        font-size: 1rem;
    }

    .graphic-btn{
        float: none;
    }

    .prac-areas{
        font-size: 0.8rem;
    }

}


/* 922px */
@media (max-width: 57rem) {
    .Question-box{
        height: auto;
        width: auto;
    }
    .header-contact{
        font-size: small;
        display: none;
    }
    #Header-keefer-cont{
        display: flex;
        justify-content: center;
        height: auto;
    }
    .keefer-logo{
        width: 120rem;
    }

    .grad-vec-area{
    margin: auto;
    height: 5.2rem;
}


    #navbar{
position: fixed;
background: #750b0b;
background: linear-gradient(0deg, rgb(128, 8, 8) 8%, rgb(106, 1, 1) 95%);        
right: -100%;
        z-index: 10;
        transition: right 0.5s ease-in-out;
    }

    #navbar.show{
        right: 0;
    }

    #navbar ul{
        display: flex;
        flex-direction: column;
    }
    #open-sidebar-btn, #close-sidebar-button{
        display: block;
    }

   
    
.grid-law-cont{
    margin: auto;
    display: grid;
grid-template-columns: 0.8fr 2fr;
    grid-template-rows: 1.9fr;
}

.display-header-contact{
    display: flex;
}
.line-vector{
    width: 55vw;
}

.contac-txt, .header-phone-txt, .quest-txt{
    font-size: 2rem;
    text-align: center;
}

#blog-cont-col{
    height: 140vh;
}

.vec-shadow, .vec-shadow-bottom{
    margin: auto;
}

.graphic-btn-left{
    margin: 0px;
}

.text-box-left{
    padding: 0px;
}

    .grid-law-cont{
    padding-top: 1rem;
    margin: 0;
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
    grid-template-rows: 0.7fr 0fr 0fr;
        grid-template-areas: "left-item left-item left-item" "mid mid mid" "mid-bottom mid-bottom mid-bottom" "right-item right-item right-item ";
}

.graphic-btn{
    padding-top: 5px;
}

 .text-container-2{
    margin-bottom: 1rem;
 }

.full-text{
    justify-content: center;
}

.grad-vec-area{
    margin: auto;
    height: 5.2rem;
}
.img-block{
    flex-direction: column;
    align-items: center;
}

.prac-cont{
    padding: 0px;
}

.dui-cont, .case-cont{
    display: flex;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 0px 0px rgba(95, 95, 95, 0.186);
-moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
    flex-direction: column;
}

.for-respons-cent-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid-mid-law-cont{
    
    margin-left: 20px;
}

.gurrantee-png{
    padding-bottom: 1rem;
    width: 75%;
}

.confidential{
    width: 30vw;
}

.grid-mid-law-cont{
    margin: 2rem 5rem;
    display: grid;
    grid-template-columns: 1fr 2.6fr 0.8fr;
    grid-auto-rows: minmax(250px, auto);
    grid-template-areas: "left-prac left-prac left-prac" "mid-tit mid-tit mid-tit" "right-test right-test right-test";
}

.prac-cont{
    grid-area: left-prac;
}

.prac-cont1{
        padding-left: 4vh;
        padding-right: 4vh;

    grid-area: mid-tit;
}
.prac-cont2{
    align-items: center;
    display: flex;
    flex-direction: column;
        justify-content: center;
    grid-area: right-test;
    }
.graphic-btn-right{
    float: none;
}
.cert-cont{
    padding: 0px;
}

}


